In [72]:
import pandas as pd

In [73]:
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv")

In [60]:
# checking type
type(df)

pandas.core.frame.DataFrame

In [61]:
# checking index
df.index

RangeIndex(start=0, stop=175, step=1)

In [62]:
# reading 1st 5 records
df.head()

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...

In [63]:
# reading series(column)
df["Location"]

0      MPCHS - Block C1, MPCHS - Multi Gardens
1       MPCHS - Block B, MPCHS - Multi Gardens
2       MPCHS - Block F, MPCHS - Multi Gardens
3      MPCHS - Block C1, MPCHS - Multi Gardens
4                   Faisal Margalla City, B-17
                        ...
170    MPCHS - Block C1, MPCHS - Multi Gardens
171                            B-17, Islamabad
172     MPCHS - Block C, MPCHS - Multi Gardens
173     MPCHS - Block C, MPCHS - Multi Gardens
174                            B-17, Islamabad
Name: Location, Length: 175, dtype: object

In [64]:
# type is series
type(df['Location'])

pandas.core.series.Series

In [65]:
# reading series(column) using dot notation
df.Price

0       2.5 Crore
1       3.8 Crore
2      1.95 Crore
3      1.75 Crore
4         2 Crore
          ...
170     2.4 Crore
171     1.2 Crore
172     6.6 Crore
173     2.1 Crore
174     2.9 Crore
Name: Price, Length: 175, dtype: object

In [66]:
# type is series
type(df.Price)

pandas.core.series.Series

In [67]:
# reading multiple series(columns)
df[["Location","Price"]]

                                    Location       Price
0    MPCHS - Block C1, MPCHS - Multi Gardens   2.5 Crore
1     MPCHS - Block B, MPCHS - Multi Gardens   3.8 Crore
2     MPCHS - Block F, MPCHS - Multi Gardens  1.95 Crore
3    MPCHS - Block C1, MPCHS - Multi Gardens  1.75 Crore
4                 Faisal Margalla City, B-17     2 Crore
..                                       ...         ...
170  MPCHS - Block C1, MPCHS - Multi Gardens   2.4 Crore
171                          B-17, Islamabad   1.2 Crore
172   MPCHS - Block C, MPCHS - Multi Gardens   6.6 Crore
173   MPCHS - Block C, MPCHS - Multi Gardens   2.1 Crore
174                          B-17, Islamabad   2.9 Crore

[175 rows x 2 columns]

In [68]:
# if column name like Locatio  n
# like having spacing b/w name, then dot notation will not work so using this df['Location  n']

In [69]:
# concatenataion two columns 
df.Price+','+df.Area

0        2.5 Crore,7 Marla
1       3.8 Crore,12 Marla
2       1.95 Crore,7 Marla
3       1.75 Crore,5 Marla
4          2 Crore,7 Marla
              ...
170    2.4 Crore,8.5 Marla
171      1.2 Crore,4 Marla
172    6.6 Crore,1.2 Kanal
173      2.1 Crore,8 Marla
174     2.9 Crore,10 Marla
Length: 175, dtype: object

In [70]:
# creating new columns in data frame, name Extra
df['Extra']=df.Price+','+df.Area

In [71]:
df.head()

,Location,Price,Area,Bedrooms,Baths,Link,Extra
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...,"2.5 Crore,7 Marla"
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...,"3.8 Crore,12 Marla"
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...,"1.95 Crore,7 Marla"
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...,"1.75 Crore,5 Marla"
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...,"2 Crore,7 Marla"