In [57]:
import pandas as pd

In [58]:
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv")

In [59]:
df.head()

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...

In [60]:
# checking the datatype of column Baths
df.Baths.dtypes

dtype('int64')

In [61]:
# checking datatype for all columns/series
df.dtypes

Location    object
Price       object
Area        object
Bedrooms    object
Baths        int64
Link        object
dtype: object

In [62]:
# describe data (show descriptive statistics to all numaric columns, right now i just have Baths is numaric)
df.describe()

            Baths
count  175.000000
mean     4.714286
std      1.347015
min      3.000000
25%      4.000000
50%      5.000000
75%      6.000000
max     10.000000

In [54]:
# get data type
df.dtypes

Location    object
Price       object
Area        object
Bedrooms    object
Baths        int64
Link        object
dtype: object

In [56]:
# if you have multiple numaric columns like A,B,C and you want descibe just for C
# then you can get describe like df.describe(include=['C'])