In [2]:
# reading package
import pandas as pd

In [3]:
# opeing connection --file
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv")

In [4]:
# reading first 5 records
df.head()

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...

In [5]:
# reading last 5 records
df.tail()

,Location,Price,Area,Bedrooms,Baths,Link
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
171,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
172,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
173,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [6]:
# reading ist 10 records --- can be customize
df.head(10)

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...
5,"MPCHS - Block F, MPCHS - Multi Gardens",1.59 Crore,5 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
6,"B-17, Islamabad",3 Crore,10 Marla,4,5,https://www.zameen.com//Property/islamabad_b_1...
7,"MPCHS - Block B Extension 1, MPCHS - Multi Gar...",2.55 Crore,7.8 Marla,6,6,https://www.zameen.com//Property/mpchs_multi_g...
8,"MPCHS - Block B, MPCHS - Multi Gardens",5 Crore,1 Kanal,8,8,https://www.zameen.com//Property/mpchs_multi_g...
9,"B-17, Islamabad",1.5 Crore,5 Marla,3,4,https://www.zameen.com//Property/islamabad_b_1...

In [7]:
# reading last 10 records
df.tail(10)

,Location,Price,Area,Bedrooms,Baths,Link
165,"MPCHS - Block C, MPCHS - Multi Gardens",2.55 Crore,7 Marla,6,6,https://www.zameen.com//Property/mpchs_multi_g...
166,"MPCHS - Block B, MPCHS - Multi Gardens",5.3 Crore,1 Kanal,3,3,https://www.zameen.com//Property/mpchs_multi_g...
167,"B-17, Islamabad",1.98 Crore,7 Marla,4,5,https://www.zameen.com//Property/islamabad_b_1...
168,"MPCHS - Block E, MPCHS - Multi Gardens",2.3 Crore,8 Marla,4,5,https://www.zameen.com//Property/mpchs_multi_g...
169,"B-17, Islamabad",2.05 Crore,7 Marla,6,4,https://www.zameen.com//Property/islamabad_b_1...
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
171,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
172,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
173,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [8]:
# find shape like rows and columns
df.shape

(175, 6)

In [9]:
# number of rows
df.shape[0]

175

In [10]:
# number of columns
df.shape[1]

6

In [11]:
# culmns name
df.columns

Index(['Location', 'Price', 'Area', 'Bedrooms', 'Baths', 'Link'], dtype='object')

In [12]:
# removing headers
df2=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv", header=None)

In [13]:
df2

,0,1,2,3,4,5
0,Location,Price,Area,Bedrooms,Baths,Link
1,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
4,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
...,...,...,...,...,...,...
171,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
172,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
173,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
174,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
175,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [14]:
# assigning new names to the columns
new_col_names=['L','P','A','Be','Ba']
df3=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv", header=0, names=new_col_names)

In [15]:
df3

,L,P,A,Be,Ba
"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...
...,...,...,...,...,...
"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...